QWidget#btnWidget{
    background-color: rgb(240,240,240);
    border-radius:5px;
}
/*按钮*/
QPushButton {
    border: none;
    border-radius: 4px;
    height: 30px;
}
QPushButton#friendmanage {
    border: 1px solid rgb(240,240,240);
}
QPushButton#friendmanage:hover{
   background-color:rgb(240,240,240);
}
QPushButton#friendBtn{
    background-color: rgb(240,240,240);
}
QPushButton#groupBtn{
    background-color: rgb(240,240,240);
}
QPushButton#friendBtn:checked{
    background-color: white;
}
QPushButton#groupBtn:checked{
    background-color: white;
}

/*QLabel*/
QLabel{
    font:13px;
}
QLabel:hover {
    background-color: rgb(240,240,240);
}

/*QTreeWidget*/
QTreeWidget{
    outline: none;
    border: none;
    font: 15px;
    background-color: transparent;
}

QTreeWidget::item {
    height: 30px;
    font: 15px;
    background-color: transparent;
}
QTreeWidget::item:hover{
   background-color:rgb(240,240,240);
}
QTreeWidget::item {
    height: 30px;
    font: 15px;
}
QTreeWidget QScrollBar:vertical {
    border: none;
    background-color: transparent;
    width: 8px;
}
QTreeWidget QScrollBar::handle:vertical {
    border: none;
    background-color: transparent;
    border-radius: 3px;
    min-height: 2px;
}
QTreeWidget QScrollBar::add-line:vertical {
    border: 0px;
    height: 0px;
}

QTreeWidget QScrollBar::sub-line:vertical {
    border: 0px;
    height: 0px;
}
QWidget#fInformWidget:hover{
    background-color:rgb(240,240,240);
}

QWidget#gInformWidget:hover {
    background-color: rgb(240,240,240);
}